.productImg {
    width: auto;
    height: 15rem;
    object-fit: contain;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    transition: transform 0.2s;
    box-sizing: border-box;
}

.card:hover {
    transform: scale(1.05);
}